/*
!.gitignore
!readme.md
!old_readme.md
!.zshrc
!.zprofile
!.zcompdump
!.p10k.zsh
!.themes/
!.config/
.config/*
!.config/sway
!.config/swaylock
!.config/swaynag
!.config/waybar
!.config/mako
!.config/wofi
!.config/termite
!.config/gammastep
!.config/cmus
.config/cmus/*
!.config/cmus/green.theme
!.config/cmus/green-minimal.theme
