/*
!.gitignore
!readme.md
!old_readme.md
!.zshrc
!.zshenv
!.zprofile
!.p10k.zsh
!.config/
.config/*
!.config/sway
!.config/swaylock
!.config/swaynag
!.config/swayidle
!.config/waybar
!.config/mako
!.config/tofi
!.config/fuzzel
!.config/foot
!.config/mpv
!.config/nvim
.config/nvim/plugged
!.config/scripts
!.config/cmus
.config/cmus/*
!.config/cmus/green.theme
!.config/cmus/green-minimal.theme
!.config/cmus/ocean.theme
!.config/spotify-tui
.config/spotify-tui/*
!.config/spotify-tui/config.yml
!Pictures
Pictures/*
!Pictures/wallpapers
!Pictures/glsl
