/*
!.gitignore
!readme.md
!.zshrc
!.zshenv
!.zprofile
!.p10k.zsh
!.taskrc
!.task/
!.config/
.config/*
!.config/sway
!.config/swaylock
!.config/swaynag
!.config/swayidle
!.config/waybar
!.config/mako
!.config/tofi
!.config/fuzzel
!.config/foot
!.config/bat
!.config/mpv
.config/weechat
!.config/rtorrent
.config/rtorrent/*
!.config/rtorrent/rtorrent.rc
!.config/nvim
!.config/kak
.config/nvim/plugged
!.config/scripts
!.config/cmus
.config/cmus/*
!.config/cmus/green.theme
!.config/cmus/green-minimal.theme
!.config/cmus/ocean.theme
!.config/ncspot
.config/ncspot/*
!.config/ncspot/config.toml
!Pictures
Pictures/*
!Pictures/wallpapers
!Pictures/glsl
