* {
    border: none;
    border-radius: 0;
    font-family: SourceSansPro, FiraSans, Roboto, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {background-color: #000000; color: #ffffff;}

/*
window#waybar.hidden {opacity: 0.2;}
window#waybar.empty {background-color: transparent;}
window#waybar.solo {background-color: #FFFFFF;}
*/

#taskbar button {color: #666666;}
#taskbar button.active {color: #ffffff;}
#taskbar button:hover {background-color: #ffffff; color: #000000;}

#workspaces button {color: #d0ff36; font-size: 20px; padding: 0 8px;}
#workspaces button.persistent {color: #ffffff;}
#workspaces button:hover {background: #ffffff; color: #000000; box-shadow: inherit; text-shadow: inherit;}
#workspaces button.focused {background-color: #d0ff36; color: #000000;}
#workspaces button.urgent {background-color: #ff173e; color: #ffffff;}
/* for  #workspaces button:hover use background not background-color */

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-cmus,
#custom-power,
#custom-applauncher,
#custom-clipman,
#custom-weather,
#custom-wallpaper,
#custom-screencast,
#custom-playerctl,
#custom-pomodoro,
#custom-stopwatch,
#custom-notifications,
#custom-packages,
#tray,
#mode,
#idle_inhibitor,
#mpd {padding: 0 6px}

#battery.warning:not(.charging) {background-color: #ffa51f; color: #000000;}
#battery.caution:not(.charging) {color: #ffa51f;}
#battery.good.charging {background-color: #d0ff36; color: #000000;}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery.critical:not(.charging) {
    background-color: #ff173e;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {background-color: #000000;}
#idle_inhibitor.activated {background-color: #d0ff36; color: #000000; padding: 0 7 px}
#temperature.critical {background-color: #ff173e; color: #ffffff;}
#network.disconnected, #pulseaudio.muted, #custom-playerctl.Stopped, #custom-playerctl.Paused {color: #666666;}


/*
#custom-media {background-color: #66cc99; color: #2a5c45; min-width: 100px;}
#custom-media.custom-spotify {background-color: #66cc99;}
#custom-media.custom-vlc {background-color: #ffa000;}
#custom-cmus {color: #fffffff;}
#mpd.disconnected {color: #666666;}
#mpd.stopped {color: #666666;}
#custom-screencast {color: #ee3a3a;}
#tray {background-color: #ffffff; color: #000000;}
*/
