* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: SourceSansPro, FiraSans, Roboto, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {background-color: #222222; color: #ffffff;}

/*
window#waybar.hidden {opacity: 0.2;}
window#waybar.empty {background-color: transparent;}
window#waybar.solo {background-color: #FFFFFF;}
*/

#workspaces button {padding: 0 8px; color: #ffffff; font-size: 16px;}
#workspaces button:hover {background: #222222; color: #8be9fd; box-shadow: inherit; text-shadow: inherit;}
#workspaces button.focused {background-color: #8be9fd; color: #000000;}
#workspaces button.urgent {background-color: #ee3a3a;}
/* #workspaces button:hover {color: #000000;} */

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-cmus,
#tray,
#mode,
#idle_inhibitor,
#mpd {padding: 0 8px}

#battery.charging {color: #8be9fd;}
#battery.warning:not(.charging) {background-color: #f1fa8c; color: #000000;}
/* #battery.warning {color: #ef6f22;} */
/* #battery.caution {bacground-color: #efef00;} */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery.critical:not(.charging) {
    background-color: #ee3a3a;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {background-color: #000000;}
#idle_inhibitor.activated {background-color: #8be9fd; color: #000000;}
#temperature.critical {background-color: #ee3a3a;}

#network.disconnected {color: #666666;}
#pulseaudio.muted {color: #666666;}

#tray {background-color: #ffffff; color: #000000;}

/*
#custom-media {background-color: #66cc99; color: #2a5c45; min-width: 100px;}
#custom-media.custom-spotify {background-color: #66cc99;}
#custom-media.custom-vlc {background-color: #ffa000;}

#custom-cmus {color: #fffffff;}

#mpd.disconnected {color: #666666;}
#mpd.stopped {color: #666666;}
*/
