* {
    border: none;
    border-radius: 0;
    font-family: SourceSansPro, FiraSans, Roboto, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {background-color: #00010a; color: #e5e9f0;}

/*
window#waybar.hidden {opacity: 0.2;}
window#waybar.empty {background-color: transparent;}
window#waybar.solo {background-color: #FFFFFF;}
*/

#taskbar button {color: #3b4252;}
#taskbar button.active {color: #e5e9f0;}
#taskbar button:hover {background-color: #e5e9f0; color: #00010a}

#workspaces button {color: #3a575c; font-size: 20px; padding: 0 8px;}
#workspaces button.persistent {color: #e5e9f0;}
#workspaces button:hover {background: #00010a; box-shadow: inherit; text-shadow: inherit;}
#workspaces button.focused {box-shadow: inset 0 -3px 0 #3a575c;}
#workspaces button.urgent {background-color: #ff4151; color: #e5e9f0; box-shadow: none;}
/* for  #workspaces button:hover use background not background-color */

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-cmus,
#custom-power,
#custom-applauncher,
#custom-clipman,
#custom-weather,
#custom-wallpaper,
#custom-playerctl,
#custom-pomodoro,
#custom-stopwatch,
#custom-notifications,
#custom-packages,
#tray,
#mode,
#idle_inhibitor,
#mpd {padding: 0 6px}

#battery.warning:not(.charging) {background-color: #ebcb8b; color: #00010a;}
#battery.caution:not(.charging) {color: #ebcb8b;}
#battery.good.charging {background-color: #e5e9f0; color: #00010a;}
#battery.critical:not(.charging) {
    background-color: #e5e9f0;
    color: #00010a;
    animation-name: red;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {background-color: #000000;}
#idle_inhibitor.activated {background-color: #e5e9f0; color: #00010a; padding: 0 7px;}
#cpu.critical, #memory.critical, #temperature.critical {background-color: #ff4151; color: #e5e9f0;}
#network.disconnected, #pulseaudio.muted, #custom-playerctl.Stopped, #custom-playerctl.Paused {color: #3b4252;}
#custom-screenrecording {color: #ff4151;}
#custom-audiorecording {color: #a3be8c;}
#custom-screenrecording, #custom-audiorecording {
    font-size: 16px;
    padding: 0 3px;
    animation-name: black;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes red {
    to {
        background-color: #ff4151;
        color: #e5e9f0;
    }
}

@keyframes black {
    to {
        color: #00010a;
    }
}
/*
#custom-media {background-color: #66cc99; color: #2a5c45; min-width: 100px;}
#custom-media.custom-spotify {background-color: #66cc99;}
#custom-media.custom-vlc {background-color: #ffa000;}
#custom-cmus {color: #fffffff;}
#mpd.disconnected {color: #666666;}
#mpd.stopped {color: #666666;}
#custom-screencast {color: #ee3a3a;}
#tray {background-color: #e5e9f0; color: #00010a;}
*/
