* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {background-color: #222222; color: #ffffff;}

/*
window#waybar.hidden {opacity: 0.2;}
window#waybar.empty {background-color: transparent;}
window#waybar.solo {background-color: #FFFFFF;}
*/

#workspaces button {padding: 0 8px; color: #ffffff;}
#workspaces button:hover {color: #22ef6f;}
#workspaces button.focused {background-color: #22ef6f; color: #000000;}
#workspaces button.urgent {background-color: #ee3a3a;}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {padding: 0 8px; margin: 0 0px;}

#battery.charging {color: #22ef6f;}
#battery.warning {color: #ef6f22;}
/* #battery.caution {bacground-color: #efef00;} */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #ee3a3a;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {background-color: #000000;}

#idle_inhibitor.activated {background-color: #22ef6f; color: #000000;}
#network.disconnected {background-color: #ee3a3a;}
#temperature.critical {background-color: #ee3a3a;}

#pulseaudio.muted {color: #5f5f5f;}
#mpd.disconnected {color: #5f5f5f;}
#mpd.stopped {color: #5f5f5f;}

#tray {background-color: #ffffff; color: #000000;}


/*
#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}
*/
