#window {background-color: #000000; color: #ffffff; border-style: none; font-family: SourceSansPro; font-size: 14px;}
#outer-box {background-color: #000000; color: #ffffff;}
#input {background-color: #000000; color: #ffffff; border-radius: 0px; border-width: 2px; border-color: #000000;}
#entry:selected {background-color: #d0ff36; border-radius: 0px;}
#text:selected {color: #000000;}
