#window {background-color: #00010a; color: #e5e9f0; border-style: none; font-family: SourceSansPro; font-size: 14px;}
#outer-box {background-color: #00010a; color: #e5e9f0;}
#input {background-color: #00010a; color: #e5e9f0; border-radius: 0px; border-width: 2px; border-color: #00010a;}
#entry:selected {background-color: #3a575c; border-radius: 0px;}
#text:selected {color: #e5e9f0;}
