#window {background-color: #$background; color: #$texlight; border-style: none; font-family: SourceSansPro; font-size: 14px;}
#outer-box {background-color: #$background; color: #$texlight;}

/* unable to disable borders for searchbox and entry, so adding boder settings */
#input {background-color: #$background; color: #$texlight; border-radius: 0px; border-width: 2px; border-color: #$background;}
#entry:selected {background-color: #$accent; border-radius: 0px;}
#text:selected {color: #$text;}
