throttle.min_peers.normal.set = 1
throttle.max_peers.normal.set = 100
throttle.min_peers.seed.set = -1
throttle.max_peers.seed.set = -1
throttle.max_uploads.set = 10
throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 0
directory.default.set = ~/Downloads/torrents/
session.path.set = ~/.config/rtorrent/session
schedule2 = watch_directory,5,5,load.start=~/Downloads/torrents/torrents/*.torrent
schedule2 = low_diskspace,5,60,close_low_diskspace=2G
# network.local_address.set = 127.0.0.1
# network.local_address.set = rakshasa.no
# network.bind_address.set = 127.0.0.1
# network.bind_address.set = rakshasa.no
# network.port_range.set = 49164-49164
# network.port_random.set = no
pieces.hash.on_completion.set = yes
trackers.use_udp.set = yes
#schedule2 = ip_tick,0,1800,ip=rakshasa
#schedule2 = bind_tick,0,1800,bind=rakshasa
# protocol.encryption.set = allow_incoming,enable_retry,prefer_plaintext
dht.mode.set = auto
# dht.port.set = 6881
# protocol.pex.set = yes
ui.torrent_list.layout.set = "full"
# system.daemon.set = false
#network.scgi.open_port = "127.0.0.1:5000"
#network.scgi.open_local = (cat,(session.path),/rpc.sock)
#schedule2 = socket_chmod, 0, 0, "execute.nothrow=chmod,770,(cat,(session.path),/rpc.sock)"
